body {
  background: green;
}

h1 {
  text-align: center;
  color: white;
}

.player-cards {
  display:inline-block;
  max-width: 600px;
  margin: 0 auto;

}

.dealer-cards {
  display:inline-block;
  max-width: 600px;
  margin: 0 auto;

}

.card {
  display: inline-block;

}

.bank {
  text-align: center;
  color: white;
  display:inline-block;
  max-width: 600px;
  margin: 0 auto;

}

* {
          box-sizing: border-box;
}
